@import "tailwindcss";

:root {
  --pantone-dark: #231815;
  --pantone-cream: #F5EFC6;
  --pantone-red: #4D0E12;
  --pantone-blue: #A5BCD6;
}

body {
  background-color: var(--pantone-dark);
  color: var(--pantone-cream);
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  min-height: 100vh;
}

::selection {
  background-color: var(--pantone-red);
  color: var(--pantone-cream);
}