@import "tailwindcss";

:root {
  --background: #16100e;
  --foreground: #faf8ed;
  --pantone-brown: #231815;
  --pantone-yellow: #f5efc6;
  --pantone-red: #4d0e12;
  --pantone-blue: #a5bcd6;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  min-height: 100vh;
}